{{ partial "header.html" . }}

{{ .Content }}

<h2>Episodes</h2>
<ul>
	{{ range .Pages.ByParam "episode" }}
		<li><a class="hightlight" href='{{ .Permalink }}'>{{ .Title }}</a></li>
	{{ end }}
</ul>

<h2>Summaries</h2>

{{ range .Pages.ByParam "episode" }}
	{{ .Render "summary"}}
{{ end }}

<footer class=" footline" >
	{{with .Params.LastModifierDisplayName}}
	    <i class='fas fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
	    </div>
	{{end}}
</footer>

{{ partial "footer.html" . }}