{{ partial "header.html" . }}

<p>This is the <strong>{{ .Params.episodeAsString }} episode</strong>
   of the <a class="hightlight" href={{ ref . "/types" }}>series about types</a>.
   {{ if gt .Params.episode 1 }}
   If you have not read previous episodes yet, i <em>strongly</em> recommend
   doing so before diving into this one.

   <ul>
      {{ range (where .Parent.Pages ".Params.episode" "lt" $.Params.episode).ByParam "episode" }}
        <li><a class="highlight" href='{{ .Permalink }}'>{{ .Title }}</a></li>
      {{ end }}
   </ul>     
   {{ end }}
</p>

{{ .Content }}

<footer class=" footline" >
	{{with .Params.LastModifierDisplayName}}
	    <i class='fas fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
	    </div>
	{{end}}
</footer>

{{ partial "footer.html" . }}